<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>OOrmia</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb925987549179819</string>
				<string>com.googleusercontent.apps.944812769510-9p70fih63qdvk29cogq6kj27fb6hghbj</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
    <string>925987549179819</string>
    <key>FacebookDisplayName</key>
    <string>OOrmia</string>
    <key>FacebookClientToken</key>
    <string>ee269fe0e50f5021a0a0e8e94433069e</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to capture photos and videos for creating memorable moments in the app.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need continuous access to your location to provide personalized event recommendations and improve your overall app experience.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We require constant access to your location for optimal app functionality, ensuring you receive the best event suggestions and updates.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need access to your location while the app is in use to offer you location-specific event recommendations and enhance your user experience.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We require access to your photo library to upload and share photos, ensuring you can personalize your experience.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserratarm2-Black.ttf</string>
		<string>Montserratarm2-Bold.ttf</string>
		<string>Montserratarm2-Medium.ttf</string>
		<string>Montserratarm2-Regular.ttf</string>
		<string>Montserratarm2-SemiBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
